<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video Oynatıcı</title>
    <link rel="stylesheet" href="~/css/site.css">
</head>
<body>
    <div class="container">
        <div class="video-player">

            <video id="main-video">
                <source src="~/image/weka.mp4" type="video/mp4">
                Tarayıcınız video etiketini desteklemiyor.
            </video>


            <div class="controls">
                <button id="play-pause-btn">►</button>
                <button onclick="rewindVideo()">10s-</button>
                <button onclick="forwardVideo()">10s+</button>
                <input type="range" id="seek-bar" value="0">
                <button id="mute-unmute-btn">🔊</button>
                <input type="range" id="volume-bar" min="0" max="1" step="0.1" value="1">
                <button id="fullscreen-btn">⛶</button>
            </div>
        </div>
    </div>

    <script src="~/js/site.js"></script>
</body>
</html>